---
import { Icon } from 'astro-icon/components';

interface Props {
  text: string;
  href: string;
  icon?: string;
}

const { text, href, icon } = Astro.props;
---

<section id={href} class="py-24">
  <h2
    class="text-4xl md:text-5xl font-serif font-bold tracking-tighter text-white mb-14 flex items-center gap-3"
  >
    {icon && <Icon name={`${icon}`} size={50} />}
    {text}
  </h2>
  <slot />
</section>

